<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Line Weaver</title>
</head>

<body>
  <div class="content">
    <h1>Line Weaver</h1>
    <h3>A few lines can weave countless wonderful patterns!</h3>
    <canvas style="border: 2px solid #d3d3d3;"></canvas>
  </div>

  <script type="application/javascript" src="app/index.js"></script>
</body>

</html>