h1 {
  font-size: 100px;
  text-align: center;
  margin: 50px 0 60px 0;
  color: white;
  font-family: 'Poor Story', cursive;
  font-weight: 800;
  text-shadow: 5px 5px 15px grey;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(247, 155, 172),
    rgba(252, 252, 111, 0.932)
  );
}

.canvases {
  margin-left: 22%;
  display: flex;
}

#goal-canvas {
  border-radius: 18px;
  border: 10px solid lightblue;
  background-color: white;
  box-shadow: 7px 10px 10px rgb(155, 155, 155);
}

#game-canvas {
  margin-left: 50px;
  border-radius: 30px;
  border: 20px solid lightblue;
  background-color: white;
  box-shadow: 7px 10px 10px rgb(155, 155, 155);
}

ul {
  list-style: none;
  width: 245px;
  /* height: 230px; */
  border: 10px solid lightblue;
  padding: 0;
  border-radius: 18px;
  text-align: center;
  background-color: white;
  box-shadow: 7px 10px 10px rgb(155, 155, 155);
}

.first-two {
  display: flex;
  justify-content: space-evenly;
}

.last-two {
  display: flex;
  justify-content: space-evenly;
}

ul li {
  cursor: pointer;
  margin: 20px 0 20px 0;
  width: 60px;
  height: 60px;
  background-color: rgb(248, 145, 164);
  border-radius: 5px;
}

i {
  font-size: 45px;
  margin-top: 10px;
  color: white;
}
